<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragments/head :: headerFragment">
        <title></title>
    </head>
    <body>
        <nav th:replace="fragments/navHeader :: navbar"></nav>

        
        
        
        <div class="container">
            <h2 class="title is-2 has-text-centered">Camper List&nbsp;<a th:href="@{/camper/add}" th:text="Add" class="button"></a></h2>
            <p><span th:text="${findNameMessage}"></span></p>
            <p><span th:text="${message}"></span></p>

            <div class="table-container">

                

                
                <table  id="theData" class="table centered is-striped">
                    <thead>
                        <tr>
                            <th style="width: 150px;">id</th>
                            <th style="width: 150px;">First</th>
                            <th style="width: 150px;">Last</th>
                            <th style="width: 150px;">DOB</th>
                            <th style="width: 150px;">Camper Type</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="camper : ${campers}">
                            <td th:text="${camper.id}"></td>
                            <td th:text="${camper.firstName}"></td>
                            <td th:text="${camper.lastName}"></td>
                            <td th:text="${camper.dob} ?: 'UNKNOWN'"></td>
                            <td th:text="${camper.camperType}"></td>
                             <td th:text="${camper.foodCost}"></td>
                            <td><a th:href="@{/camper/edit(id=${camper.id})}">Edit</a>&nbsp;<a
                                    th:href="@{/camper/delete(id=${camper.id})}">Delete</a></td>

                        </tr>
                    </tbody>
                </table>
               
                
            </div>






        </div>




        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>