<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragments/head :: headerFragment">
        <title></title>
    </head>
    <body>
        <nav th:replace="fragments/navHeader :: navbar"></nav>

        
        
        
        <div class="container">
            <h2 class="title is-2 has-text-centered">List of Students&nbsp;</h2><a th:href="@{/parkingPass/add}" th:text="Add" class="button"></a>
            <p><span th:text="${findNameMessage}"></span></p>
            <p><span th:text="${message}"></span></p>

            <div class="table-container">

                

            
                <table id="theData" class="table centered is-striped">
                    <thead>
                        <tr>
                            <th style="width: 150px;">id</th>
                            <th style="width: 150px;">First</th>
                            <th style="width: 150px;">Last</th>
                            <th style="width: 150px;">License Plate</th>
                            <th style="width: 150px;">Program</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="parkingPass : ${parkingPasses}">
                            <td th:text="${parkingPass.id}"></td>
                            <td th:text="${parkingPass.firstName}"></td>
                            <td th:text="${parkingPass.lastName}"></td>
                            <td th:text="${parkingPass.licensePlate} ?: 'UNKNOWN'"></td>
                             <td th:text="${parkingPass.program} ?: 'UNKNOWN'"></td>
                            <td><a th:href="@{/parkingPass/edit(id=${parkingPass.id})}">Edit</a>&nbsp;<a
                                    th:href="@{/parkingPass/delete(id=${parkingPass.id})}">Delete</a></td>

                        </tr>
                    </tbody>
                </table>
               
                
            </div>






        </div>




        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>