<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <body>
    <nav th:fragment="navbar" class="navbar nav" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a th:href="@{/}" class="vert-align">
                <img src="/images/flowershop.png" class="logo"></span>
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" id="burg"
               onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end">

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class=" navbar-link">Customers</a>
                    <div class="navbar-dropdown">
                          <a th:href="@{/flowerShop/add}" class="navbar-item">Add a Customer</a>
                        <a th:href="@{/flowerShop/list}" class="navbar-item">View Customers</a>
                        <hr class="navbar-divider">                            
                    </div>
                </div>
             <div class="navbar-item has-dropdown is-hoverable">
                    <a th:href="@{/summary/ordersummary}" href="/summary/ordersummary" class=" navbar-link">Summary</a>
                    <div class="navbar-dropdown">
                        <a th:href="@{/summary/ordersummary}" class="navbar-item">Order Summary</a>
                        <hr class="navbar-divider">                            
                    </div>
                </div>
                   
                <div class="navbar-item has-dropdown is-hoverable">
                    <a th:href="@{/export}" class="navbar-item">
                        Export
                    </a>
                      <div class="navbar-dropdown">
                        <a th:href="@{/export}" class="navbar-item">Save Customer Data</a>
                        <hr class="navbar-divider">                            
                    </div>
                </div>
                
                <div class="navbar-end">
                    <a th:href="@{/about}" class="navbar-item">
                        About
                    </a>
                </div>
              
               
                
            </div>
        </div>
    </nav>
    </body>
</html>