<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragments/head :: headerFragment">
        <title></title>
    </head>
    <body>
        <nav th:replace="fragments/navHeader :: navbar"></nav>

        
        
        
        <div class="container">
            <h2 class="title is-2 has-text-centered">Customer Records&nbsp;</h2>
            <p><span th:text="${findNameMessage}"></span></p>
            <p><span th:text="${message}"></span></p>

            <div class="table-container">

                

            
                <table id="theData" class="table centered is-striped">
                    <thead>
                        <tr>
                            <th style="width: 150px;">id</th>
                            <th style="width: 150px;">Customer Type Id</th>
                            <th style="width: 150px;">Full Name</th>
                            <th style="width: 150px;">Address</th>
                            <th style="width: 150px;">City</th>
                            <th style="width: 150px;">Province</th>
                            <th style="width: 150px;">Postal Code</th>
                            <th style="width: 150px;">Phone Number</th>
                            <th style="width: 150px;">Birth Date</th>
                            <th style="width: 150px;">Loyalty Card</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="flowerShop : ${flowerShopList}">
                            <td th:text="${flowerShop.id}"></td>
                             <td th:text="${flowerShop.customerTypeId}"></td>
                            <td th:text="${flowerShop.fullName}"></td>
                            <td th:text="${flowerShop.address}?: 'UNKNOWN'"></td>
                            <td th:text="${flowerShop.city} ?: 'UNKNOWN'"></td>
                             <td th:text="${flowerShop.province} ?: 'UNKNOWN'"></td>
                             <td th:text="${flowerShop.postalCode} ?: 'UNKNOWN'"></td>
                             <td th:text="${flowerShop.phoneNumber} ?: 'UNKNOWN'"></td>
                             <td th:text="${flowerShop.birthDate} ?: 'UNKNOWN'"></td>
                             <td th:text="${flowerShop.loyaltyCard} ?: 'UNKNOWN'"></td>
                            <td><a th:href="@{/flowerShop/edit(id=${flowerShop.id})}">Update</a>&nbsp;<a
                                    th:href="@{/flowerShop/delete(id=${flowerShop.id})}">Delete</a></td>

                        </tr>
                    </tbody>
                </table>
               
                
            </div>






        </div>




        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>